<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <% if can? :manager, Order %>
            <%= render "products_in_cart" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-8 mt-5 cart-wrap ftco-animate address-form">
        <div class="cart-total mb-3" style="padding: 40px;">
          <%= render "order_form" %>
        </div>
      </div>
    </div>
  </div>
</section>
